<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>DroiGroup</key><dict><key>@TableName</key><string>_D_ROi_Group</string><key>Name</key><string>@DroiExposeNSString</string></dict><key>DroiGroupRelation</key><dict><key>@TableName</key><string>_D_ROi_Group_User_Relation</string><key>GroupId</key><string>@DroiExposeNSString</string><key>MemberGroupId</key><string>@DroiExposeNSString</string><key>MemberUserId</key><string>@DroiExposeNSString</string></dict><key>DroiUser</key><dict><key>@TableName</key><string>_User</string><key>Email</key><string>@DroiExposeNSString</string><key>Password</key><string>@DroiExposeNSString</string><key>UserId</key><string>@DroiExposeNSString</string></dict></dict></plist>